//- 404 error template
doctype html  
html(lang='en')  
    include ../partials/mixin.pug
    +head("404", "404 Page Not Found title", "404 page not found error page description")
    body
     h1 404 Page Not Found
     div.container
     p Oh no's
     include ../partials/footer.pug