//- admin template
doctype html  
html(lang='en')  
    include ../partials/mixin.pug
    +head("500", "500 Internal Server Error", "500 error page description")
    body
    h1 500 Internal Server Error
    div.container
      p Oh no's