<!DOCTYPE html  >
<html lang="en"> 
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="description" content="admin page description"/>
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"/>
      <title>admin Page</title>
      <link rel="canonical" href="http://localhost:3000/admin"/>
    </head>
  <body></body>
  <h1>Admin Page
    <div class="container"></div>
    <p>Do Adminy Things</p>
  </h1>
</html>