//- admin template
doctype html  
html(lang='en')  
    include ../partials/mixin.pug
    +head("admin", "admin Page", "admin page description")
    body
    h1 Admin Page
     div.container
     p Do Adminy Things