//- archive template
doctype html  
html(lang='en')  
    include ../partials/mixin.pug
    +head("archive", "Archive Page", "archive page description")
    body
       h1 Archive Things
       div.container
       p Thing to look at