<!DOCTYPE html  >
<html lang="en"> 
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="description" content="homepage meta description"/>
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"/>
      <title>Homepage title tag test</title>
      <link rel="canonical" href="http://localhost:3000/"/>
    </head>
  <body>
    <h1>Homepage Things</h1>
    <div class="container">
      <p>Lots of coolness</p>
    </div>
  </body>
</html>