//- homepage template
doctype html  
html(lang='en')  
    include ../partials/mixin.pug
    +head("", "Homepage title tag test", "HP meta description")
    body
        h1 Homepage Things
        div.container
          p Lots of coolness
          include ../partials/footer.pug